{#
/**
 * @file
 * Template for a wrapper for a menu sub-tree.
 *
 * Available variables:
 *   - tree: An HTML string containing the tree's items.
 *
 * @see template_preprocess_menu_tree()
 */
#}

<ul class="sitemap-menu">{{ tree }}</ul>
